@import "../Internal/_Theme"

// selector
selector--label---------normal = '.unity-label'
selector--small-label---normal = '.unity-label.small'
selector--medium-label--normal = '.unity-label.medium'
selector--large-label---normal = '.unity-label.large'

// view
add-style(label--normal) theme() font(null, null, null) text(upper-left, null, null)
flush()

// layout
add-style(label---------normal) layout(null, auto, auto, (4px), (1px), (0px  0px  0px  0px ))
add-style(small-label---normal) layout(null, auto, auto, (4px), (1px), (6px  6px  5px  5px ))
add-style(medium-label--normal) layout(null, auto, auto, (4px), (1px), (12px 12px 10px 10px))
add-style(large-label---normal) layout(null, auto, auto, (4px), (1px), (24px 24px 20px 20px))
flush()

// flex
add-style(label--normal) flex(0, 1, auto, auto)
flush()
