@import "../Internal/_Theme"

// view
.view
    add-layout-position()
    add-layout-size()
    add-layout-box()

// screen-view
.screen-view
    add-layout-position(absolute)
    add-layout-size(100%, 100%)
    add-layout-box(0px, 0px, 0px)

// widget-view
.widget-view
    add-layout-position(absolute)
    add-layout-size(100%, 100%)
    add-layout-box(0px, 0px, 0px)
.left-widget-view
    add-layout-position(absolute, right: 60%, bottom: 10%)
    add-layout-size(600px, auto)
    add-layout-box(0px, 0px, 0px)()
.small-widget-view
    add-layout-position(absolute, left: 50%, top: 50%)
    add-layout-size(1400px, 700px)
    add-layout-box(0px, 0px, 0px)
    translate -50% -50%()
.medium-widget-view
    add-layout-position(absolute, left: 50%, top: 50%)
    add-layout-size(1600px, 800px)
    add-layout-box(0px, 0px, 0px)
    translate -50% -50%
.large-widget-view
    add-layout-position(absolute, left: 50%, top: 50%)
    add-layout-size(1800px, 900px)
    add-layout-box(0px, 0px, 0px)
    translate -50% -50%
.modal-widget-view
    add-layout-position(absolute, left: 50%, top: 49%)
    add-layout-size(1000px, 500px)
    add-layout-box(0px, 0px, 0px)
    translate -50% -50%

// sub-view
.sub-view
    add-layout-position()
    add-layout-size()
    add-layout-box()

// views-container
.views-container
.modal-views-container
    add-layout-position(absolute)
    add-layout-size(100%, 100%)
    add-layout-box(0px, 0px, 0px)
