@import "../Internal/_Theme"

// selector
selector--button---------normal                 = '.unity-button'
selector--button---------hover                  = '.unity-button:hover'
selector--button---------active                 = '.unity-button:active'
selector--button---------focus                  = '.unity-button:focus'
selector--button---------focus--hover           = '.unity-button:focus:hover'
selector--button---------focus--active          = '.unity-button:focus:active'
selector--button---------invalid                = '.unity-button.invalid'
selector--button---------invalid--hover         = '.unity-button.invalid:hover'
selector--button---------invalid--active        = '.unity-button.invalid:active'
selector--button---------invalid--focus         = '.unity-button.invalid:focus'
selector--button---------invalid--focus--hover  = '.unity-button.invalid:focus:hover'
selector--button---------invalid--focus--active = '.unity-button.invalid:focus:active'
// selector
selector--repeat-button--normal                 = '.unity-repeat-button'
selector--repeat-button--hover                  = '.unity-repeat-button:hover'
selector--repeat-button--active                 = '.unity-repeat-button:active'
selector--repeat-button--focus                  = '.unity-repeat-button:focus'
selector--repeat-button--focus--hover           = '.unity-repeat-button:focus:hover'
selector--repeat-button--focus--active          = '.unity-repeat-button:focus:active'
selector--repeat-button--invalid                = '.unity-repeat-button.invalid'
selector--repeat-button--invalid--hover         = '.unity-repeat-button.invalid:hover'
selector--repeat-button--invalid--active        = '.unity-repeat-button.invalid:active'
selector--repeat-button--invalid--focus         = '.unity-repeat-button.invalid:focus'
selector--repeat-button--invalid--focus--hover  = '.unity-repeat-button.invalid:focus:hover'
selector--repeat-button--invalid--focus--active = '.unity-repeat-button.invalid:focus:active'

// view
add-style(button---------normal                ) theme(button--normal                ) font(null, null, null) text(middle-center, null, null)
add-style(button---------hover                 ) theme(button--hover                 )
add-style(button---------active                ) theme(button--active                )
add-style(button---------focus                 ) theme(button--focus                 )
add-style(button---------focus--hover          ) theme(button--focus--hover          )
add-style(button---------focus--active         ) theme(button--focus--active         )
add-style(button---------invalid               ) theme(button--invalid               )
add-style(button---------invalid--hover        ) theme(button--invalid--hover        )
add-style(button---------invalid--active       ) theme(button--invalid--active       )
add-style(button---------invalid--focus        ) theme(button--invalid--focus        )
add-style(button---------invalid--focus--hover ) theme(button--invalid--focus--hover )
add-style(button---------invalid--focus--active) theme(button--invalid--focus--active)
flush()
// view
add-style(repeat-button--normal                ) theme(button--normal                ) font(null, null, null) text(middle-center, null, null)
add-style(repeat-button--hover                 ) theme(button--hover                 )
add-style(repeat-button--active                ) theme(button--active                )
add-style(repeat-button--focus                 ) theme(button--focus                 )
add-style(repeat-button--focus--hover          ) theme(button--focus--hover          )
add-style(repeat-button--focus--active         ) theme(button--focus--active         )
add-style(repeat-button--invalid               ) theme(button--invalid               )
add-style(repeat-button--invalid--hover        ) theme(button--invalid--hover        )
add-style(repeat-button--invalid--active       ) theme(button--invalid--active       )
add-style(repeat-button--invalid--focus        ) theme(button--invalid--focus        )
add-style(repeat-button--invalid--focus--hover ) theme(button--invalid--focus--hover )
add-style(repeat-button--invalid--focus--active) theme(button--invalid--focus--active)
flush()

// layout
add-style(button---------normal                ) layout(null, auto, auto, (4px), (1px), (12px 12px 10px 10px))
add-style(repeat-button--normal                ) layout(null, auto, auto, (4px), (1px), (12px 12px 10px 10px))
flush()

// flex
add-style(button---------normal                ) flex(0, 1, auto, auto)
add-style(repeat-button--normal                ) flex(0, 1, auto, auto)
flush()
