@import "../Internal/_Theme"

// selector
selector--field--------normal                 = '.unity-base-field'
selector--field--------hover                  = '.unity-base-field:hover'
selector--field--------active                 = '.unity-base-field:active'
selector--field--------focus                  = '.unity-base-field:focus'
selector--field--------focus--hover           = '.unity-base-field:focus:hover'
selector--field--------focus--active          = '.unity-base-field:focus:active'
selector--field--------invalid                = '.unity-base-field.invalid'
selector--field--------invalid--hover         = '.unity-base-field.invalid:hover'
selector--field--------invalid--active        = '.unity-base-field.invalid:active'
selector--field--------invalid--focus         = '.unity-base-field.invalid:focus'
selector--field--------invalid--focus--hover  = '.unity-base-field.invalid:focus:hover'
selector--field--------invalid--focus--active = '.unity-base-field.invalid:focus:active'
// selector
selector--field-label--normal                 = '.unity-base-field                      .unity-base-field__label'
selector--field-label--hover                  = '.unity-base-field:hover                .unity-base-field__label'
selector--field-label--active                 = '.unity-base-field:active               .unity-base-field__label'
selector--field-label--focus                  = '.unity-base-field:focus                .unity-base-field__label'
selector--field-label--focus--hover           = '.unity-base-field:focus:hover          .unity-base-field__label'
selector--field-label--focus--active          = '.unity-base-field:focus:active         .unity-base-field__label'
selector--field-label--invalid                = '.unity-base-field.invalid              .unity-base-field__label'
selector--field-label--invalid--hover         = '.unity-base-field.invalid:hover        .unity-base-field__label'
selector--field-label--invalid--active        = '.unity-base-field.invalid:active       .unity-base-field__label'
selector--field-label--invalid--focus         = '.unity-base-field.invalid:focus        .unity-base-field__label'
selector--field-label--invalid--focus--hover  = '.unity-base-field.invalid:focus:hover  .unity-base-field__label'
selector--field-label--invalid--focus--active = '.unity-base-field.invalid:focus:active .unity-base-field__label'
// selector
selector--field-input--normal                 = '.unity-base-field                      .unity-base-field__input'
selector--field-input--hover                  = '.unity-base-field:hover                .unity-base-field__input'
selector--field-input--active                 = '.unity-base-field:active               .unity-base-field__input'
selector--field-input--focus                  = '.unity-base-field:focus                .unity-base-field__input'
selector--field-input--focus--hover           = '.unity-base-field:focus:hover          .unity-base-field__input'
selector--field-input--focus--active          = '.unity-base-field:focus:active         .unity-base-field__input'
selector--field-input--invalid                = '.unity-base-field.invalid              .unity-base-field__input'
selector--field-input--invalid--hover         = '.unity-base-field.invalid:hover        .unity-base-field__input'
selector--field-input--invalid--active        = '.unity-base-field.invalid:active       .unity-base-field__input'
selector--field-input--invalid--focus         = '.unity-base-field.invalid:focus        .unity-base-field__input'
selector--field-input--invalid--focus--hover  = '.unity-base-field.invalid:focus:hover  .unity-base-field__input'
selector--field-input--invalid--focus--active = '.unity-base-field.invalid:focus:active .unity-base-field__input'

// view
add-style(field--------normal                ) theme(field--------normal                )
add-style(field--------hover                 ) theme(field--------hover                 )
add-style(field--------active                ) theme(field--------active                )
add-style(field--------focus                 ) theme(field--------focus                 )
add-style(field--------focus--hover          ) theme(field--------focus--hover          )
add-style(field--------focus--active         ) theme(field--------focus--active         )
add-style(field--------invalid               ) theme(field--------invalid               )
add-style(field--------invalid--hover        ) theme(field--------invalid--hover        )
add-style(field--------invalid--active       ) theme(field--------invalid--active       )
add-style(field--------invalid--focus        ) theme(field--------invalid--focus        )
add-style(field--------invalid--focus--hover ) theme(field--------invalid--focus--hover )
add-style(field--------invalid--focus--active) theme(field--------invalid--focus--active)
flush()
// view
add-style(field-label--normal                ) theme(field-label--normal                ) font(null, null, null) text(middle-left, null, null)
add-style(field-label--hover                 ) theme(field-label--hover                 )
add-style(field-label--active                ) theme(field-label--active                )
add-style(field-label--focus                 ) theme(field-label--focus                 )
add-style(field-label--focus--hover          ) theme(field-label--focus--hover          )
add-style(field-label--focus--active         ) theme(field-label--focus--active         )
add-style(field-label--invalid               ) theme(field-label--invalid               )
add-style(field-label--invalid--hover        ) theme(field-label--invalid--hover        )
add-style(field-label--invalid--active       ) theme(field-label--invalid--active       )
add-style(field-label--invalid--focus        ) theme(field-label--invalid--focus        )
add-style(field-label--invalid--focus--hover ) theme(field-label--invalid--focus--hover )
add-style(field-label--invalid--focus--active) theme(field-label--invalid--focus--active)
flush()
// view
add-style(field-input--normal                ) theme(field-input--normal                ) font(null, null, null) text(middle-left, null, null)
add-style(field-input--hover                 ) theme(field-input--hover                 )
add-style(field-input--active                ) theme(field-input--active                )
add-style(field-input--focus                 ) theme(field-input--focus                 )
add-style(field-input--focus--hover          ) theme(field-input--focus--hover          )
add-style(field-input--focus--active         ) theme(field-input--focus--active         )
add-style(field-input--invalid               ) theme(field-input--invalid               )
add-style(field-input--invalid--hover        ) theme(field-input--invalid--hover        )
add-style(field-input--invalid--active       ) theme(field-input--invalid--active       )
add-style(field-input--invalid--focus        ) theme(field-input--invalid--focus        )
add-style(field-input--invalid--focus--hover ) theme(field-input--invalid--focus--hover )
add-style(field-input--invalid--focus--active) theme(field-input--invalid--focus--active)
flush()

// layout
add-style(field--------normal                ) layout(null, auto, auto, (4px            ), (0px), (0px                ))
add-style(field-label--normal                ) layout(null, auto, auto, (0px 2px 0px 0px), (1px), (12px 12px 10px 10px))
add-style(field-input--normal                ) layout(null, auto, auto, (0px            ), (1px), (12px 12px 10px 10px))
flush()

// flex
add-style(field--------normal                ) flex(0, 1, auto, auto) flex2(row, flex-start, stretch)
add-style(field-label--normal                ) flex(0, 1, auto, auto)
add-style(field-input--normal                ) flex(1, 1, auto, auto) flex2(row, flex-end, stretch)
flush()
