@import "../Internal/_Theme"

// selector
selector--field--------normal                 = '.unity-toggle'
selector--field--------hover                  = '.unity-toggle:hover'
selector--field--------active                 = '.unity-toggle:active'
selector--field--------focus                  = '.unity-toggle:focus'
selector--field--------focus--hover           = '.unity-toggle:focus:hover'
selector--field--------focus--active          = '.unity-toggle:focus:active'
selector--field--------invalid                = '.unity-toggle.invalid'
selector--field--------invalid--hover         = '.unity-toggle.invalid:hover'
selector--field--------invalid--active        = '.unity-toggle.invalid:active'
selector--field--------invalid--focus         = '.unity-toggle.invalid:focus'
selector--field--------invalid--focus--hover  = '.unity-toggle.invalid:focus:hover'
selector--field--------invalid--focus--active = '.unity-toggle.invalid:focus:active'
// selector
selector--field-label--normal                 = '.unity-toggle                      .unity-toggle__label'
selector--field-label--hover                  = '.unity-toggle:hover                .unity-toggle__label'
selector--field-label--active                 = '.unity-toggle:active               .unity-toggle__label'
selector--field-label--focus                  = '.unity-toggle:focus                .unity-toggle__label'
selector--field-label--focus--hover           = '.unity-toggle:focus:hover          .unity-toggle__label'
selector--field-label--focus--active          = '.unity-toggle:focus:active         .unity-toggle__label'
selector--field-label--invalid                = '.unity-toggle.invalid              .unity-toggle__label'
selector--field-label--invalid--hover         = '.unity-toggle.invalid:hover        .unity-toggle__label'
selector--field-label--invalid--active        = '.unity-toggle.invalid:active       .unity-toggle__label'
selector--field-label--invalid--focus         = '.unity-toggle.invalid:focus        .unity-toggle__label'
selector--field-label--invalid--focus--hover  = '.unity-toggle.invalid:focus:hover  .unity-toggle__label'
selector--field-label--invalid--focus--active = '.unity-toggle.invalid:focus:active .unity-toggle__label'
// selector
selector--field-input--normal                 = '.unity-toggle                      .unity-toggle__input'
selector--field-input--hover                  = '.unity-toggle:hover                .unity-toggle__input'
selector--field-input--active                 = '.unity-toggle:active               .unity-toggle__input'
selector--field-input--focus                  = '.unity-toggle:focus                .unity-toggle__input'
selector--field-input--focus--hover           = '.unity-toggle:focus:hover          .unity-toggle__input'
selector--field-input--focus--active          = '.unity-toggle:focus:active         .unity-toggle__input'
selector--field-input--invalid                = '.unity-toggle.invalid              .unity-toggle__input'
selector--field-input--invalid--hover         = '.unity-toggle.invalid:hover        .unity-toggle__input'
selector--field-input--invalid--active        = '.unity-toggle.invalid:active       .unity-toggle__input'
selector--field-input--invalid--focus         = '.unity-toggle.invalid:focus        .unity-toggle__input'
selector--field-input--invalid--focus--hover  = '.unity-toggle.invalid:focus:hover  .unity-toggle__input'
selector--field-input--invalid--focus--active = '.unity-toggle.invalid:focus:active .unity-toggle__input'
// selector
selector--checkmark----normal                 = '.unity-toggle                      .unity-toggle__input         .unity-toggle__checkmark'
selector--checkmark----checked                = '.unity-toggle                      .unity-toggle__input:checked .unity-toggle__checkmark'

// view
add-style(checkmark--normal ) theme(toggle-field-input-checkmark--normal )
add-style(checkmark--checked) theme(toggle-field-input-checkmark--checked)
flush()

// layout
add-style(checkmark--normal) layout(null, 16px, 16px, (0px), (1px), (0px))
flush()

// flex
add-style(checkmark--normal) flex(0, 1, auto, auto)
flush()
