@import "../Internal/_Theme"

// selector
selector--field--------normal                 = '.unity-base-slider'
selector--field--------hover                  = '.unity-base-slider:hover'
selector--field--------active                 = '.unity-base-slider:active'
selector--field--------focus                  = '.unity-base-slider:focus'
selector--field--------focus--hover           = '.unity-base-slider:focus:hover'
selector--field--------focus--active          = '.unity-base-slider:focus:active'
selector--field--------invalid                = '.unity-base-slider.invalid'
selector--field--------invalid--hover         = '.unity-base-slider.invalid:hover'
selector--field--------invalid--active        = '.unity-base-slider.invalid:active'
selector--field--------invalid--focus         = '.unity-base-slider.invalid:focus'
selector--field--------invalid--focus--hover  = '.unity-base-slider.invalid:focus:hover'
selector--field--------invalid--focus--active = '.unity-base-slider.invalid:focus:active'
// selector
selector--field-label--normal                 = '.unity-base-slider                      .unity-base-slider__label'
selector--field-label--hover                  = '.unity-base-slider:hover                .unity-base-slider__label'
selector--field-label--active                 = '.unity-base-slider:active               .unity-base-slider__label'
selector--field-label--focus                  = '.unity-base-slider:focus                .unity-base-slider__label'
selector--field-label--focus--hover           = '.unity-base-slider:focus:hover          .unity-base-slider__label'
selector--field-label--focus--active          = '.unity-base-slider:focus:active         .unity-base-slider__label'
selector--field-label--invalid                = '.unity-base-slider.invalid              .unity-base-slider__label'
selector--field-label--invalid--hover         = '.unity-base-slider.invalid:hover        .unity-base-slider__label'
selector--field-label--invalid--active        = '.unity-base-slider.invalid:active       .unity-base-slider__label'
selector--field-label--invalid--focus         = '.unity-base-slider.invalid:focus        .unity-base-slider__label'
selector--field-label--invalid--focus--hover  = '.unity-base-slider.invalid:focus:hover  .unity-base-slider__label'
selector--field-label--invalid--focus--active = '.unity-base-slider.invalid:focus:active .unity-base-slider__label'
// selector
selector--field-input--normal                 = '.unity-base-slider                      .unity-base-slider__input'
selector--field-input--hover                  = '.unity-base-slider:hover                .unity-base-slider__input'
selector--field-input--active                 = '.unity-base-slider:active               .unity-base-slider__input'
selector--field-input--focus                  = '.unity-base-slider:focus                .unity-base-slider__input'
selector--field-input--focus--hover           = '.unity-base-slider:focus:hover          .unity-base-slider__input'
selector--field-input--focus--active          = '.unity-base-slider:focus:active         .unity-base-slider__input'
selector--field-input--invalid                = '.unity-base-slider.invalid              .unity-base-slider__input'
selector--field-input--invalid--hover         = '.unity-base-slider.invalid:hover        .unity-base-slider__input'
selector--field-input--invalid--active        = '.unity-base-slider.invalid:active       .unity-base-slider__input'
selector--field-input--invalid--focus         = '.unity-base-slider.invalid:focus        .unity-base-slider__input'
selector--field-input--invalid--focus--hover  = '.unity-base-slider.invalid:focus:hover  .unity-base-slider__input'
selector--field-input--invalid--focus--active = '.unity-base-slider.invalid:focus:active .unity-base-slider__input'
// selector
selector--container----normal                 = '.unity-base-slider                      .unity-base-slider__input #unity-drag-container'
selector--tracker------normal                 = '.unity-base-slider                      .unity-base-slider__input #unity-drag-container #unity-tracker'
selector--dragger------normal                 = '.unity-base-slider                      .unity-base-slider__input #unity-drag-container #unity-dragger'

// view
add-style(container--normal) theme(                                  )
add-style(tracker----normal) theme(slider-field-input-tracker--normal)
add-style(dragger----normal) theme(slider-field-input-dragger--normal)
flush()

// layout
add-style(container--normal) layout(null,     auto, auto, (0px), (0px), (0px))
add-style(tracker----normal) layout(null,     auto,  8px, (0px), (1px), (0px))
add-style(dragger----normal) layout(absolute, 8px,  24px, (0px), (1px), (0px))
flush()

// flex
add-style(container--normal) flex(1, 1, auto, auto) flex2(row, flex-start, center)
add-style(tracker----normal) flex(1, 1, auto, auto)
add-style(dragger----normal) flex(0, 1, auto, auto)
flush()
