@import "_Utils"

// tab-view-header-underline
theme--tab-view-header-underline-----normal  = create-theme(null hsla(  0, 0%,  0%, 0.00) img(null, null, null)                                                   hsla( 0,  0%,  0%, 0.00) (0px 0px 4px 4px))
theme--tab-view-header-underline-----hover   = create-theme(null null                     img(null, null, null)                                                   null                     null             )
theme--tab-view-header-underline-----active  = create-theme(null null                     img(null, null, null)                                                   null                     null             )
theme--tab-view-header-underline-----checked = create-theme(null hsla(210, 2%, 90%, 0.25) img(null, null, null)                                                   hsla(30, 30%, 30%, 0.50) null             )

// dropdown-field-input-arrow
theme--dropdown-field-input-arrow----normal  = create-theme(null hsla(  0, 0%,  0%, 0.00) img('../../Images/DropdownArrow.png', hsla(  0,  0%,  90%, 1.00), null) hsla( 0,  0%,  0%, 0.00) 2px              )
theme--dropdown-field-input-arrow----hover   = create-theme(null null                     img(null,                             null,                       null) null                     null             )
theme--dropdown-field-input-arrow----active  = create-theme(null null                     img(null,                             null,                       null) null                     null             )

// slider-field-input-tracker
theme--slider-field-input-tracker----normal  = create-theme(null hsla(210, 2%, 30%, 1.00) img(null,                             null,                       null) hsla(30, 30%, 30%, 0.50) 2px              )
theme--slider-field-input-tracker----hover   = create-theme(null null                     img(null,                             null,                       null) null                     null             )
theme--slider-field-input-tracker----active  = create-theme(null null                     img(null,                             null,                       null) null                     null             )

// slider-field-input-dragger
theme--slider-field-input-dragger----normal  = create-theme(null hsla(210, 2%, 70%, 1.00) img(null,                             null,                       null) hsla(30, 30%, 30%, 0.50) 2px              )
theme--slider-field-input-dragger----hover   = create-theme(null null                     img(null,                             null,                       null) null                     null             )
theme--slider-field-input-dragger----active  = create-theme(null null                     img(null,                             null,                       null) null                     null             )

// toggle-field-input-checkmark
theme--toggle-field-input-checkmark--normal  = create-theme(null hsla(210, 2%, 90%, 1.00) img('../../Images/Check.png',         hsla(  0,  0%,   0%, 0.00), null) hsla(30, 30%, 30%, 0.50) 2px              )
theme--toggle-field-input-checkmark--hover   = create-theme(null null                     img(null,                             null,                       null) null                     null             )
theme--toggle-field-input-checkmark--active  = create-theme(null null                     img(null,                             null,                       null) null                     null             )
theme--toggle-field-input-checkmark--checked = create-theme(null null                     img(null,                             hsla(  0,  0%,  10%, 1.00), null) null                     null             )

// dropdown-item-checkmark
theme--dropdown-item-checkmark-------normal  = create-theme(null hsla(  0, 0%,  0%, 0.00) img('../../Images/Check.png',         hsla(  0,  0%,   0%, 0.00), null) hsla( 0,  0%,  0%, 0.00) 2px              )
theme--dropdown-item-checkmark-------hover   = create-theme(null null                     img(null,                             null,                       null) null                     null             )
theme--dropdown-item-checkmark-------active  = create-theme(null null                     img(null,                             null,                       null) null                     null             )
theme--dropdown-item-checkmark-------checked = create-theme(null null                     img(null,                             hsla(  0,  0%,  90%, 1.00), null) null                     null             )
