// add-style
add-style(format, arg = null)
    if !(typeof(format) == 'string' or format == null)
        arg = format
        format = null
    if format == null
        format = '%s'
    
    selector = s(format, unquote(get-value(get-key('selector', arg))))
    selector = replace('(\s+)', ' ', selector)

    flush()
    define('context', {}, true)
    context.selector = selector
    context.styles   = ()

// // add-style
// add-style-font(url = null, size = null, style = null)
//     selector = context.selector
//     {selector}
//         add-font(url, size, style)
// add-style-text(align = null, outline = null, shadow = null)
//     selector = context.selector
//     {selector}
//         add-text(align, outline, shadow)

// // add-style
// add-style-theme(key)
//     selector = context.selector
//     {selector}
//         add-theme(key)

// // add-style
// add-style-view(color = null, background-color = null, background-image = null, border-color = null, border-radius = null)
//     selector = context.selector
//     {selector}
//         add-view(color, background-color, background-image, border-color, border-radius)

// // add-style
// add-style-layout(position = null, width = null, height = null, margin = null, border = null, padding = null)
//     selector = context.selector
//     {selector}
//         add-layout(position, width, height, margin, border, padding)

// // add-style
// add-style-flex(flex-grow = null, flex-shrink = null, flex-basis = null, align-self = null)
//     selector = context.selector
//     {selector}
//         add-flex(flex-grow, flex-shrink, flex-basis, align-self)
// add-style-flex2(flex-direction = null, justify-content = null, align-items = null, align-content = null)
//     selector = context.selector
//     {selector}
//         add-flex2(flex-direction, justify-content, align-items, align-content)

// // add-style
// add-style-property(name, value)
//     selector = context.selector
//     {selector}
//         add-property2(name, value)

// flush
flush()
    if context is defined and context != null
        selector = context.selector
        styles   = context.styles
        {selector}
            for style in styles
                {style}
    define('context', null, true)

// view
font(url = null, size = null, style = null)
    push(context.styles, @block {
        add-font(url, size, style)
    })
text(align = null, outline = null, shadow = null)
    push(context.styles, @block {
        add-text(align, outline, shadow)
    })

// view
theme(key = null)
    push(context.styles, @block {
        add-theme(key)
    })

// view
view(color = null, background-color = null, background-image = null, border-color = null, border-radius = null)
    push(context.styles, @block {
        add-view(color, background-color, background-image, border-color, border-radius)
    })

// layout
layout(position = null, width = null, height = null, margin = null, border = null, padding = null)
    push(context.styles, @block {
        add-layout(position, width, height, margin, border, padding)
    })

// flex
flex(flex-grow = null, flex-shrink = null, flex-basis = null, align-self = null)
    push(context.styles, @block {
        add-flex(flex-grow, flex-shrink, flex-basis, align-self)
    })
flex2(flex-direction = null, justify-content = null, align-items = null, align-content = null)
    push(context.styles, @block {
        add-flex2(flex-direction, justify-content, align-items, align-content)
    })

// property
property(name, value)
    push(context.styles, @block {
        add-property2(name, value)
    })
