@import "../Internal/_Theme"

// PanelSettings
#PanelSettings
    add-font('../../Fonts/NotInter/NotInter-Regular.ttf', 14px, normal)
    add-view()
    add-layout()
    add-flex(1, 1, auto, auto)

// UIDocument-container
#UIDocument-container
    add-view()
    add-layout()
    add-flex(1, 1, auto, auto)
