@import "../Internal/_Theme"

// selector
selector--box---------normal = '.unity-box'
selector--box---------hover  = '.unity-box:hover'
selector--light2-box--normal = '.unity-box.light2'
selector--light2-box--hover  = '.unity-box.light2:hover'
selector--light-box---normal = '.unity-box.light'
selector--light-box---hover  = '.unity-box.light:hover'
selector--gray-box----normal = '.unity-box.gray'
selector--gray-box----hover  = '.unity-box.gray:hover'
selector--dark-box----normal = '.unity-box.dark'
selector--dark-box----hover  = '.unity-box.dark:hover'
selector--dark2-box---normal = '.unity-box.dark2'
selector--dark2-box---hover  = '.unity-box.dark2:hover'
selector--small-box---normal = '.unity-box.small'
selector--medium-box--normal = '.unity-box.medium'
selector--large-box---normal = '.unity-box.large'

// view
add-style(box---------normal) theme(box---------normal)
add-style(box---------hover ) theme(box---------hover )
add-style(light2-box--normal) theme(light2-box--normal)
add-style(light2-box--hover ) theme(light2-box--hover )
add-style(light-box---normal) theme(light-box---normal)
add-style(light-box---hover ) theme(light-box---hover )
add-style(gray-box----normal) theme(gray-box----normal)
add-style(gray-box----hover ) theme(gray-box----hover )
add-style(dark-box----normal) theme(dark-box----normal)
add-style(dark-box----hover ) theme(dark-box----hover )
add-style(dark2-box---normal) theme(dark2-box---normal)
add-style(dark2-box---hover ) theme(dark2-box---hover )
flush()

// layout
add-style(box---------normal) layout(null, auto, auto, (4px), (1px), (0px                ))
add-style(small-box---normal) layout(null, auto, auto, (4px), (1px), (6px  6px  5px  5px ))
add-style(medium-box--normal) layout(null, auto, auto, (4px), (1px), (12px 12px 10px 10px))
add-style(large-box---normal) layout(null, auto, auto, (4px), (1px), (24px 24px 20px 20px))
flush()

// flex
add-style(box--normal) flex(0, 1, auto, auto) flex2(column, flex-start, stretch)
flush()
