@import "_Utils"

// element
theme--light-element-------normal                 = create-theme(hsla(  0,   0%,  90%, 1.00) hsla(210,  2%, 23%, 1.00) img(null, null, null)                                                    hsla( 30,  30%, 30%, 1.00) 4px )
theme--light-element-------hover                  = create-theme(null                        null                      null                                                                     null                       null)
theme--light-element-------active                 = create-theme(null                        null                      null                                                                     null                       null)
// element
theme--light-element-------normal--focus          = create-theme(null                        null                      null                                                                     null                       null)
theme--light-element-------hover---focus          = create-theme(null                        null                      null                                                                     null                       null)
theme--light-element-------active--focus          = create-theme(null                        null                      null                                                                     null                       null)
// element
theme--light-element-------normal--invalid        = create-theme(null                        null                      null                                                                     null                       null)
theme--light-element-------hover---invalid        = create-theme(null                        null                      null                                                                     null                       null)
theme--light-element-------active--invalid        = create-theme(null                        null                      null                                                                     null                       null)
// element
theme--light-element-------normal--invalid--focus = create-theme(null                        null                      null                                                                     null                       null)
theme--light-element-------hover---invalid--focus = create-theme(null                        null                      null                                                                     null                       null)
theme--light-element-------active--invalid--focus = create-theme(null                        null                      null                                                                     null                       null)

// element
theme--gray-element--------normal                 = create-theme(hsla(  0,   0%,  90%, 1.00) hsla(210,  2%, 20%, 1.00) img(null, null, null)                                                    hsla( 30,  30%, 30%, 1.00) 4px )
theme--gray-element--------hover                  = create-theme(null                        null                      null                                                                     null                       null)
theme--gray-element--------active                 = create-theme(null                        null                      null                                                                     null                       null)
// element
theme--gray-element--------normal--focus          = create-theme(null                        null                      null                                                                     null                       null)
theme--gray-element--------hover---focus          = create-theme(null                        null                      null                                                                     null                       null)
theme--gray-element--------active--focus          = create-theme(null                        null                      null                                                                     null                       null)
// element
theme--gray-element--------normal--invalid        = create-theme(null                        null                      null                                                                     null                       null)
theme--gray-element--------hover---invalid        = create-theme(null                        null                      null                                                                     null                       null)
theme--gray-element--------active--invalid        = create-theme(null                        null                      null                                                                     null                       null)
// element
theme--gray-element--------normal--invalid--focus = create-theme(null                        null                      null                                                                     null                       null)
theme--gray-element--------hover---invalid--focus = create-theme(null                        null                      null                                                                     null                       null)
theme--gray-element--------active--invalid--focus = create-theme(null                        null                      null                                                                     null                       null)

// element
theme--dark-element--------normal                 = create-theme(hsla(  0,   0%,  90%, 1.00) hsla(210,  2%, 17%, 1.00) img(null, null, null)                                                    hsla( 30,  30%, 30%, 1.00) 4px )
theme--dark-element--------hover                  = create-theme(null                        null                      null                                                                     null                       null)
theme--dark-element--------active                 = create-theme(null                        null                      null                                                                     null                       null)
// element
theme--dark-element--------normal--focus          = create-theme(null                        null                      null                                                                     null                       null)
theme--dark-element--------hover---focus          = create-theme(null                        null                      null                                                                     null                       null)
theme--dark-element--------active--focus          = create-theme(null                        null                      null                                                                     null                       null)
// element
theme--dark-element--------normal--invalid        = create-theme(null                        null                      null                                                                     null                       null)
theme--dark-element--------hover---invalid        = create-theme(null                        null                      null                                                                     null                       null)
theme--dark-element--------active--invalid        = create-theme(null                        null                      null                                                                     null                       null)
// element
theme--dark-element--------normal--invalid--focus = create-theme(null                        null                      null                                                                     null                       null)
theme--dark-element--------hover---invalid--focus = create-theme(null                        null                      null                                                                     null                       null)
theme--dark-element--------active--invalid--focus = create-theme(null                        null                      null                                                                     null                       null)

// button
theme--button--------------normal                 = create-theme(hsla(  0,   0%,  90%, 1.00) hsla(210,  2%, 23%, 1.00) img(null, null, null)                                                    hsla( 30,  30%, 30%, 1.00) 4px )
theme--button--------------hover                  = create-theme(hsla(  0,   0%, 100%, 1.00) hsla(210,  2%, 25%, 1.00) null                                                                     hsla( 30,  30%, 50%, 1.00) null)
theme--button--------------active                 = create-theme(hsla(  0,   0%,  50%, 1.00) hsla(210,  2%, 22%, 1.00) null                                                                     hsla( 30,  30%, 20%, 1.00) null)
// button
theme--button--------------normal--focus          = create-theme(hsla(210,  80%,  50%, 1.00) null                      null                                                                     hsla(210,  80%, 40%, 1.00) null)
theme--button--------------hover---focus          = create-theme(hsla(210, 100%,  60%, 1.00) null                      null                                                                     hsla(210,  80%, 50%, 1.00) null)
theme--button--------------active--focus          = create-theme(hsla(210,  80%,  40%, 1.00) null                      null                                                                     hsla(210,  80%, 20%, 1.00) null)
// button
theme--button--------------normal--invalid        = create-theme(hsla(  0,  80%,  50%, 1.00) null                      null                                                                     hsla(  0,  80%, 40%, 1.00) null)
theme--button--------------hover---invalid        = create-theme(hsla(  0, 100%,  60%, 1.00) null                      null                                                                     hsla(  0,  80%, 50%, 1.00) null)
theme--button--------------active--invalid        = create-theme(hsla(  0,  80%,  40%, 1.00) null                      null                                                                     hsla(  0,  80%, 20%, 1.00) null)
// button
theme--button--------------normal--invalid--focus = create-theme(hsla(  0,  80%,  50%, 1.00) null                      null                                                                     hsla(210,  80%, 40%, 1.00) null)
theme--button--------------hover---invalid--focus = create-theme(hsla(  0, 100%,  60%, 1.00) null                      null                                                                     hsla(210,  80%, 50%, 1.00) null)
theme--button--------------active--invalid--focus = create-theme(hsla(  0,  80%,  40%, 1.00) null                      null                                                                     hsla(210,  80%, 20%, 1.00) null)

// left-arrow-button
theme--left-arrow-button---normal                 = create-theme(null                        null                      img('../../Images/Arrow_Left.png',    hsla(  0,   0%,  90%, 1.00), null) hsla( 30,  30%, 30%, 1.00) 4px )
theme--left-arrow-button---hover                  = create-theme(null                        null                      img(null,                             hsla(  0,   0%, 100%, 1.00), null) hsla( 30,  30%, 50%, 1.00) null)
theme--left-arrow-button---active                 = create-theme(null                        null                      img(null,                             hsla(  0,   0%,  50%, 1.00), null) hsla( 30,  30%, 20%, 1.00) null)
// left-arrow-button
theme--left-arrow-button---normal--focus          = create-theme(null                        null                      img(null,                             hsla(210,  80%,  50%, 1.00), null) hsla(210,  80%, 40%, 1.00) 4px )
theme--left-arrow-button---hover---focus          = create-theme(null                        null                      img(null,                             hsla(210, 100%,  60%, 1.00), null) hsla(210,  80%, 50%, 1.00) null)
theme--left-arrow-button---active--focus          = create-theme(null                        null                      img(null,                             hsla(210,  80%,  40%, 1.00), null) hsla(210,  80%, 20%, 1.00) null)

// right-arrow-button
theme--right-arrow-button--normal                 = create-theme(null                        null                      img('../../Images/Arrow_Right.png',   hsla(  0,   0%,  90%, 1.00), null) hsla( 30,  30%, 30%, 1.00) 4px )
theme--right-arrow-button--hover                  = create-theme(null                        null                      img(null,                             hsla(  0,   0%, 100%, 1.00), null) hsla( 30,  30%, 50%, 1.00) null)
theme--right-arrow-button--active                 = create-theme(null                        null                      img(null,                             hsla(  0,   0%,  50%, 1.00), null) hsla( 30,  30%, 20%, 1.00) null)
// right-arrow-button
theme--right-arrow-button--normal--focus          = create-theme(null                        null                      img(null,                             hsla(210,  80%,  50%, 1.00), null) hsla(210,  80%, 40%, 1.00) 4px )
theme--right-arrow-button--hover---focus          = create-theme(null                        null                      img(null,                             hsla(210, 100%,  60%, 1.00), null) hsla(210,  80%, 50%, 1.00) null)
theme--right-arrow-button--active--focus          = create-theme(null                        null                      img(null,                             hsla(210,  80%,  40%, 1.00), null) hsla(210,  80%, 20%, 1.00) null)

// up-arrow-button
theme--up-arrow-button-----normal                 = create-theme(null                        null                      img('../../Images/Arrow_Up.png',      hsla(  0,   0%,  90%, 1.00), null) hsla( 30,  30%, 30%, 1.00) 4px )
theme--up-arrow-button-----hover                  = create-theme(null                        null                      img(null,                             hsla(  0,   0%, 100%, 1.00), null) hsla( 30,  30%, 50%, 1.00) null)
theme--up-arrow-button-----active                 = create-theme(null                        null                      img(null,                             hsla(  0,   0%,  50%, 1.00), null) hsla( 30,  30%, 20%, 1.00) null)
// up-arrow-button
theme--up-arrow-button-----normal--focus          = create-theme(null                        null                      img(null,                             hsla(210,  80%,  50%, 1.00), null) hsla(210,  80%, 40%, 1.00) 4px )
theme--up-arrow-button-----hover---focus          = create-theme(null                        null                      img(null,                             hsla(210, 100%,  60%, 1.00), null) hsla(210,  80%, 50%, 1.00) null)
theme--up-arrow-button-----active--focus          = create-theme(null                        null                      img(null,                             hsla(210,  80%,  40%, 1.00), null) hsla(210,  80%, 20%, 1.00) null)

// down-arrow-button
theme--down-arrow-button---normal                 = create-theme(null                        null                      img('../../Images/Arrow_Down.png',    hsla(  0,   0%,  90%, 1.00), null) hsla( 30,  30%, 30%, 1.00) 4px )
theme--down-arrow-button---hover                  = create-theme(null                        null                      img(null,                             hsla(  0,   0%, 100%, 1.00), null) hsla( 30,  30%, 50%, 1.00) null)
theme--down-arrow-button---active                 = create-theme(null                        null                      img(null,                             hsla(  0,   0%,  50%, 1.00), null) hsla( 30,  30%, 20%, 1.00) null)
// down-arrow-button
theme--down-arrow-button---normal--focus          = create-theme(null                        null                      img('../../Images/Arrow_Down.png',    hsla(210,  80%,  50%, 1.00), null) hsla(210,  80%, 40%, 1.00) 4px )
theme--down-arrow-button---hover---focus          = create-theme(null                        null                      img(null,                             hsla(210, 100%,  60%, 1.00), null) hsla(210,  80%, 50%, 1.00) null)
theme--down-arrow-button---active--focus          = create-theme(null                        null                      img(null,                             hsla(210,  80%,  40%, 1.00), null) hsla(210,  80%, 20%, 1.00) null)

// field
theme--field---------------normal                 = create-theme(null                        hsla(  0,  0%,  0%, 0.00) img(null, null, null)                                                    hsla(  0,   0%,  0%, 0.00) 4px )
theme--field---------------hover                  = create-theme(null                        null                      null                                                                     null                       null)
theme--field---------------active                 = create-theme(null                        null                      null                                                                     null                       null)
// field
theme--field---------------normal--focus          = create-theme(null                        null                      null                                                                     null                       null)
theme--field---------------hover---focus          = create-theme(null                        null                      null                                                                     null                       null)
theme--field---------------active--focus          = create-theme(null                        null                      null                                                                     null                       null)
// field
theme--field---------------normal--invalid        = create-theme(null                        null                      null                                                                     null                       null)
theme--field---------------hover---invalid        = create-theme(null                        null                      null                                                                     null                       null)
theme--field---------------active--invalid        = create-theme(null                        null                      null                                                                     null                       null)
// field
theme--field---------------normal--invalid--focus = create-theme(null                        null                      null                                                                     null                       null)
theme--field---------------hover---invalid--focus = create-theme(null                        null                      null                                                                     null                       null)
theme--field---------------active--invalid--focus = create-theme(null                        null                      null                                                                     null                       null)

// field-label
theme--field-label---------normal                 = create-theme(hsla(  0,   0%,  90%, 1.00) hsla(210,  2%, 23%, 1.00) img(null, null, null)                                                    hsla( 30, 30%, 30%, 1.00) 4px )
theme--field-label---------hover                  = create-theme(hsla(  0,   0%, 100%, 1.00) hsla(210,  2%, 23%, 1.00) null                                                                     hsla( 30, 30%, 50%, 1.00) null)
theme--field-label---------active                 = create-theme(null                        null                      null                                                                     null                      null)
// field-label
theme--field-label---------normal--focus          = create-theme(hsla(210,  80%,  50%, 1.00) null                      null                                                                     hsla(210, 80%, 40%, 1.00) null)
theme--field-label---------hover---focus          = create-theme(hsla(210, 100%,  60%, 1.00) null                      null                                                                     hsla(210, 80%, 50%, 1.00) null)
theme--field-label---------active--focus          = create-theme(null                        null                      null                                                                     null                      null)
// field-label
theme--field-label---------normal--invalid        = create-theme(hsla(  0,  80%,  50%, 1.00) null                      null                                                                     hsla(  0, 80%, 40%, 1.00) null)
theme--field-label---------hover---invalid        = create-theme(hsla(  0, 100%,  60%, 1.00) null                      null                                                                     hsla(  0, 80%, 50%, 1.00) null)
theme--field-label---------active--invalid        = create-theme(null                        null                      null                                                                     null                      null)
// field-label
theme--field-label---------normal--invalid--focus = create-theme(hsla(  0,  80%,  50%, 1.00) null                      null                                                                     hsla(210, 80%, 40%, 1.00) null)
theme--field-label---------hover---invalid--focus = create-theme(hsla(  0, 100%,  60%, 1.00) null                      null                                                                     hsla(210, 80%, 50%, 1.00) null)
theme--field-label---------active--invalid--focus = create-theme(null                        null                      null                                                                     null                      null)

// field-input
theme--field-input---------normal                 = create-theme(hsla(  0,   0%,  90%, 1.00) hsla(210,  2%, 17%, 1.00) img(null, null, null)                                                    hsla( 30, 30%, 30%, 1.00) 4px )
theme--field-input---------hover                  = create-theme(hsla(  0,   0%, 100%, 1.00) hsla(210,  2%, 17%, 1.00) null                                                                     hsla( 30, 30%, 50%, 1.00) null)
theme--field-input---------active                 = create-theme(null                        null                      null                                                                     null                      null)
// field-input
theme--field-input---------normal--focus          = create-theme(null                        null                      null                                                                     hsla(210, 80%, 40%, 1.00) null)
theme--field-input---------hover---focus          = create-theme(null                        null                      null                                                                     hsla(210, 80%, 50%, 1.00) null)
theme--field-input---------active--focus          = create-theme(null                        null                      null                                                                     null                      null)
// field-input
theme--field-input---------normal--invalid        = create-theme(null                        null                      null                                                                     hsla(  0, 80%, 40%, 1.00) null)
theme--field-input---------hover---invalid        = create-theme(null                        null                      null                                                                     hsla(  0, 80%, 50%, 1.00) null)
theme--field-input---------active--invalid        = create-theme(null                        null                      null                                                                     null                      null)
// field-input
theme--field-input---------normal--invalid--focus = create-theme(null                        null                      null                                                                     hsla(210, 80%, 40%, 1.00) null)
theme--field-input---------hover---invalid--focus = create-theme(null                        null                      null                                                                     hsla(210, 80%, 50%, 1.00) null)
theme--field-input---------active--invalid--focus = create-theme(null                        null                      null                                                                     null                      null)

// dropdown
theme--dropdown------------normal                 = create-theme(null                        hsla(210,  2%, 15%, 0.97) img(null, null, null)                                                    hsla( 30, 30%, 30%, 1.00) 4px )
theme--dropdown------------hover                  = create-theme(null                        null                      null                                                                     hsla( 30, 30%, 50%, 1.00) null)
theme--dropdown------------active                 = create-theme(null                        null                      null                                                                     null                      null)
// dropdown
theme--dropdown------------normal--focus          = create-theme(null                        null                      null                                                                     hsla(210, 80%, 40%, 1.00) null)
theme--dropdown------------hover---focus          = create-theme(null                        null                      null                                                                     hsla(210, 80%, 50%, 1.00) null)
theme--dropdown------------active--focus          = create-theme(null                        null                      null                                                                     null                      null)

// dropdown-item
theme--dropdown-item-------normal                 = create-theme(hsla(  0,   0%,  90%, 1.00) hsla(  0,  0%, 0%,  0.00) img(null, null, null)                                                    hsla(  0,  0%, 0%,  0.00) 0px )
theme--dropdown-item-------hover                  = create-theme(hsla(  0,   0%, 100%, 1.00) hsla( 30, 80%, 40%, 1.00) null                                                                     hsla( 30, 80%, 50%, 1.00) null)
theme--dropdown-item-------active                 = create-theme(null                        null                      null                                                                     null                      null)
// dropdown-item
theme--dropdown-item-------normal--focus          = create-theme(null                        null                      null                                                                     null                      null)
theme--dropdown-item-------hover---focus          = create-theme(null                        null                      null                                                                     null                      null)
theme--dropdown-item-------active--focus          = create-theme(null                        null                      null                                                                     null                      null)
