@import "_Utils"

// component
theme--light-component-----------normal                 = create-theme(null hsla(210, 2%, 23%, 1.00) img(null, null, null)                                                   hsla(30, 30%, 30%, 0.50) 2px )
theme--light-component-----------hover                  = create-theme(null null                     null                                                                    null                     null)
theme--light-component-----------active                 = create-theme(null null                     null                                                                    null                     null)
// component
theme--light-component-----------normal--focus          = create-theme(null null                     null                                                                    null                     null)
theme--light-component-----------hover---focus          = create-theme(null null                     null                                                                    null                     null)
theme--light-component-----------active--focus          = create-theme(null null                     null                                                                    null                     null)
// component
theme--light-component-----------normal--invalid        = create-theme(null null                     null                                                                    null                     null)
theme--light-component-----------hover---invalid        = create-theme(null null                     null                                                                    null                     null)
theme--light-component-----------active--invalid        = create-theme(null null                     null                                                                    null                     null)
// component
theme--light-component-----------normal--invalid--focus = create-theme(null null                     null                                                                    null                     null)
theme--light-component-----------hover---invalid--focus = create-theme(null null                     null                                                                    null                     null)
theme--light-component-----------active--invalid--focus = create-theme(null null                     null                                                                    null                     null)

// component
theme--gray-component------------normal                 = create-theme(null hsla(210, 2%, 20%, 1.00) img(null, null, null)                                                   hsla(30, 30%, 30%, 0.50) 2px )
theme--gray-component------------hover                  = create-theme(null null                     null                                                                    null                     null)
theme--gray-component------------active                 = create-theme(null null                     null                                                                    null                     null)
// component
theme--gray-component------------normal--focus          = create-theme(null null                     null                                                                    null                     null)
theme--gray-component------------hover---focus          = create-theme(null null                     null                                                                    null                     null)
theme--gray-component------------active--focus          = create-theme(null null                     null                                                                    null                     null)
// component
theme--gray-component------------normal--invalid        = create-theme(null null                     null                                                                    null                     null)
theme--gray-component------------hover---invalid        = create-theme(null null                     null                                                                    null                     null)
theme--gray-component------------active--invalid        = create-theme(null null                     null                                                                    null                     null)
// component
theme--gray-component------------normal--invalid--focus = create-theme(null null                     null                                                                    null                     null)
theme--gray-component------------hover---invalid--focus = create-theme(null null                     null                                                                    null                     null)
theme--gray-component------------active--invalid--focus = create-theme(null null                     null                                                                    null                     null)

// component
theme--dark-component------------normal                 = create-theme(null hsla(210, 2%, 17%, 1.00) img(null, null, null)                                                   hsla(30, 30%, 30%, 0.50) 2px )
theme--dark-component------------hover                  = create-theme(null null                     null                                                                    null                     null)
theme--dark-component------------active                 = create-theme(null null                     null                                                                    null                     null)
// component
theme--dark-component------------normal--focus          = create-theme(null null                     null                                                                    null                     null)
theme--dark-component------------hover---focus          = create-theme(null null                     null                                                                    null                     null)
theme--dark-component------------active--focus          = create-theme(null null                     null                                                                    null                     null)
// component
theme--dark-component------------normal--invalid        = create-theme(null null                     null                                                                    null                     null)
theme--dark-component------------hover---invalid        = create-theme(null null                     null                                                                    null                     null)
theme--dark-component------------active--invalid        = create-theme(null null                     null                                                                    null                     null)
// component
theme--dark-component------------normal--invalid--focus = create-theme(null null                     null                                                                    null                     null)
theme--dark-component------------hover---invalid--focus = create-theme(null null                     null                                                                    null                     null)
theme--dark-component------------active--invalid--focus = create-theme(null null                     null                                                                    null                     null)

// dropdown-field--arrow
theme--dropdown-field--arrow-----normal                 = create-theme(null hsla(  0, 0%,  0%, 0.00) img('../../Images/DropdownArrow.png', hsla(  0,  0%,  90%, 1.00), null) hsla( 0,  0%,  0%, 0.00) 2px )
theme--dropdown-field--arrow-----hover                  = create-theme(null null                     img(null,                             null,                       null) null                     null)
theme--dropdown-field--arrow-----active                 = create-theme(null null                     img(null,                             null,                       null) null                     null)

// dropdown-item--checkmark
theme--dropdown-item--checkmark--normal                 = create-theme(null hsla(  0, 0%,  0%, 0.00) img('../../Images/Check.png',         hsla(  0,  0%,   0%, 0.00), null) hsla( 0,  0%,  0%, 0.00) 2px )
theme--dropdown-item--checkmark--hover                  = create-theme(null null                     img(null,                             null,                       null) null                     null)
theme--dropdown-item--checkmark--active                 = create-theme(null null                     img(null,                             null,                       null) null                     null)
theme--dropdown-item--checkmark--checked                = create-theme(null null                     img(null,                             hsla(  0,  0%,  90%, 1.00), null) null                     null)

// slider-field--tracker
theme--slider-field--tracker-----normal                 = create-theme(null hsla(210, 2%, 30%, 1.00) img(null,                             null,                       null) hsla(30, 30%, 30%, 0.50) 2px )
theme--slider-field--tracker-----hover                  = create-theme(null null                     img(null,                             null,                       null) null                     null)
theme--slider-field--tracker-----active                 = create-theme(null null                     img(null,                             null,                       null) null                     null)

// slider-field--dragger
theme--slider-field--dragger-----normal                 = create-theme(null hsla(210, 2%, 70%, 1.00) img(null,                             null,                       null) hsla(30, 30%, 30%, 0.50) 2px )
theme--slider-field--dragger-----hover                  = create-theme(null null                     img(null,                             null,                       null) null                     null)
theme--slider-field--dragger-----active                 = create-theme(null null                     img(null,                             null,                       null) null                     null)

// toggle-field--checkmark
theme--toggle-field--checkmark---normal                 = create-theme(null hsla(210, 2%, 90%, 1.00) img('../../Images/Check.png',         hsla(  0,  0%,   0%, 0.00), null) hsla(30, 30%, 30%, 0.50) 2px )
theme--toggle-field--checkmark---hover                  = create-theme(null null                     img(null,                             null,                       null) null                     null)
theme--toggle-field--checkmark---active                 = create-theme(null null                     img(null,                             null,                       null) null                     null)
theme--toggle-field--checkmark---checked                = create-theme(null null                     img(null,                             hsla(  0,  0%,  10%, 1.00), null) null                     null)
