@import "../Internal/_Theme"

// selector
selector--field--------normal                 = '.unity-base-text-field'
selector--field--------hover                  = '.unity-base-text-field:hover'
selector--field--------active                 = '.unity-base-text-field:active'
selector--field--------normal--focus          = '.unity-base-text-field:focus'
selector--field--------hover---focus          = '.unity-base-text-field:focus:hover'
selector--field--------active--focus          = '.unity-base-text-field:focus:active'
selector--field--------normal--invalid        = '.unity-base-text-field.invalid'
selector--field--------hover---invalid        = '.unity-base-text-field.invalid:hover'
selector--field--------active--invalid        = '.unity-base-text-field.invalid:active'
selector--field--------normal--invalid--focus = '.unity-base-text-field.invalid:focus'
selector--field--------hover---invalid--focus = '.unity-base-text-field.invalid:focus:hover'
selector--field--------active--invalid--focus = '.unity-base-text-field.invalid:focus:active'
// selector
selector--field-label--normal                 = '.unity-base-text-field                      .unity-base-text-field__label'
selector--field-label--hover                  = '.unity-base-text-field:hover                .unity-base-text-field__label'
selector--field-label--active                 = '.unity-base-text-field:active               .unity-base-text-field__label'
selector--field-label--normal--focus          = '.unity-base-text-field:focus                .unity-base-text-field__label'
selector--field-label--hover---focus          = '.unity-base-text-field:focus:hover          .unity-base-text-field__label'
selector--field-label--active--focus          = '.unity-base-text-field:focus:active         .unity-base-text-field__label'
selector--field-label--normal--invalid        = '.unity-base-text-field.invalid              .unity-base-text-field__label'
selector--field-label--hover---invalid        = '.unity-base-text-field.invalid:hover        .unity-base-text-field__label'
selector--field-label--active--invalid        = '.unity-base-text-field.invalid:active       .unity-base-text-field__label'
selector--field-label--normal--invalid--focus = '.unity-base-text-field.invalid:focus        .unity-base-text-field__label'
selector--field-label--hover---invalid--focus = '.unity-base-text-field.invalid:focus:hover  .unity-base-text-field__label'
selector--field-label--active--invalid--focus = '.unity-base-text-field.invalid:focus:active .unity-base-text-field__label'
// selector
selector--field-input--normal                 = '.unity-base-text-field                      .unity-base-text-field__input'
selector--field-input--hover                  = '.unity-base-text-field:hover                .unity-base-text-field__input'
selector--field-input--active                 = '.unity-base-text-field:active               .unity-base-text-field__input'
selector--field-input--normal--focus          = '.unity-base-text-field:focus                .unity-base-text-field__input'
selector--field-input--hover---focus          = '.unity-base-text-field:focus:hover          .unity-base-text-field__input'
selector--field-input--active--focus          = '.unity-base-text-field:focus:active         .unity-base-text-field__input'
selector--field-input--normal--invalid        = '.unity-base-text-field.invalid              .unity-base-text-field__input'
selector--field-input--hover---invalid        = '.unity-base-text-field.invalid:hover        .unity-base-text-field__input'
selector--field-input--active--invalid        = '.unity-base-text-field.invalid:active       .unity-base-text-field__input'
selector--field-input--normal--invalid--focus = '.unity-base-text-field.invalid:focus        .unity-base-text-field__input'
selector--field-input--hover---invalid--focus = '.unity-base-text-field.invalid:focus:hover  .unity-base-text-field__input'
selector--field-input--active--invalid--focus = '.unity-base-text-field.invalid:focus:active .unity-base-text-field__input'
// selector
selector--text---------normal                 = '.unity-base-text-field                      .unity-base-text-field__input .unity-text-element'

// view
add-style(text--normal) theme()
flush()

// layout
add-style(text--normal) layout(null, auto, auto, (0px), (0px), (0px))
flush()

// flex
add-style(text--normal) flex(1, 1, auto, auto)
flush()
