@import "../Internal/_Theme"

// selector
selector--dropdown------------------------normal  = '.unity-base-dropdown'
// selector
selector--scroll-view---------------------normal  = '.unity-base-dropdown .unity-scroll-view'
selector--scroll-view---------------------hover   = '.unity-base-dropdown .unity-scroll-view:hover'
selector--viewport-and-vertical-scroller--normal  = '.unity-base-dropdown .unity-scroll-view #unity-content-and-vertical-scroll-container'
selector--viewport------------------------normal  = '.unity-base-dropdown .unity-scroll-view #unity-content-viewport'
selector--content-------------------------normal  = '.unity-base-dropdown .unity-scroll-view #unity-content-container'
// selector
selector--dropdown-item-------------------normal  = '.unity-base-dropdown .unity-base-dropdown__item'
selector--dropdown-item-------------------hover   = '.unity-base-dropdown .unity-base-dropdown__item:hover'
selector--dropdown-item-------------------checked = '.unity-base-dropdown .unity-base-dropdown__item:checked'
selector--checkmark-----------------------normal  = '.unity-base-dropdown .unity-base-dropdown__item         .unity-base-dropdown__checkmark'
selector--checkmark-----------------------hover   = '.unity-base-dropdown .unity-base-dropdown__item:hover   .unity-base-dropdown__checkmark'
selector--checkmark-----------------------checked = '.unity-base-dropdown .unity-base-dropdown__item:checked .unity-base-dropdown__checkmark'
selector--text----------------------------normal  = '.unity-base-dropdown .unity-base-dropdown__item         .unity-base-dropdown__label'
selector--text----------------------------hover   = '.unity-base-dropdown .unity-base-dropdown__item:hover   .unity-base-dropdown__label'
selector--text----------------------------checked = '.unity-base-dropdown .unity-base-dropdown__item:checked .unity-base-dropdown__label'

// view
add-style(dropdown------------------------normal ) theme(                                 )
flush()
// view
add-style(scroll-view---------------------normal ) theme(dropdown--normal                 )
add-style(scroll-view---------------------hover  ) theme(dropdown--hover                  )
add-style(viewport-and-vertical-scroller--normal ) theme(                                 )
add-style(viewport------------------------normal ) theme(                                 )
add-style(content-------------------------normal ) theme(                                 )
flush()
// view
add-style(dropdown-item-------------------normal ) theme(dropdown-item--normal            )
add-style(dropdown-item-------------------hover  ) theme(dropdown-item--hover             )
add-style(dropdown-item-------------------checked) theme(                                 )
add-style(checkmark-----------------------normal ) theme(dropdown-item--checkmark--normal )
add-style(checkmark-----------------------hover  ) theme(dropdown-item--checkmark--hover  )
add-style(checkmark-----------------------checked) theme(dropdown-item--checkmark--checked)
add-style(text----------------------------normal ) theme(                                 )
add-style(text----------------------------hover  ) theme(                                 )
add-style(text----------------------------checked) theme(                                 )
flush()

// layout
add-style(dropdown------------------------normal ) layout(absolute, auto, auto, (0px             ), (0px            ), (0px                ))
flush()
// layout
add-style(scroll-view---------------------normal ) layout(null,     auto, auto, (0px             ), (1px            ), (0px                ))
add-style(viewport-and-vertical-scroller--normal ) layout(                                                                                  )
add-style(viewport------------------------normal ) layout(                                                                                  )
add-style(content-------------------------normal ) layout(                                                                                  )
flush()
// layout
add-style(dropdown-item-------------------normal ) layout(null,     auto, auto, (0px             ), (0px 0px 0px 1px), (12px 12px 10px 10px))
add-style(checkmark-----------------------normal ) layout(null,     16px, 16px, (0px 12px 0px 0px), (1px            ), (0px                ))
add-style(text----------------------------normal ) layout(null,     auto, auto, (0px             ), (0px            ), (0px                ))
flush()

// flex
add-style(dropdown------------------------normal ) flex(0, 1, auto, auto) flex2(column, flex-start, stretch)
flush()
// flex
add-style(scroll-view---------------------normal ) flex(                )
add-style(viewport-and-vertical-scroller--normal ) flex(                )
add-style(viewport------------------------normal ) flex(                )
add-style(content-------------------------normal ) flex(                )
flush()
// flex
add-style(dropdown-item-------------------normal ) flex(0, 1, auto, auto) flex2(row, flex-start, stretch)
add-style(checkmark-----------------------normal ) flex(0, 1, auto, auto)
add-style(text----------------------------normal ) flex(1, 1, auto, auto)
flush()
